page-movies {

    .card-background-page {
      background-color: black;
        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 20%;
          font-size: 1.3em;
          width: 25%;
          font-weight: bold;
          color: #fff;
          background-color: black;
        }
      
        .card-subtitle {
          font-size: 0.8em;
          position: absolute;
          top: 80%;
          width: 25%;
          color: #fff;
          background-color: black;
        }

        img {
            filter: brightness(40%);
            width: 25%;
        }
    
        .card-title2 {
          padding-left: 30%;
          padding-right: 5%;
          position: absolute;
          top: 50%;
          font-size: 1.1em;
          color: #000;
      }
      
    }
}
